
<div class="pad2y limiter content">
  <div class="body">
       <table>
           <tbody>
               <tr>
                   <td><a href="/about">about</a></td>
                   <td><a href="/">now</a></td>
                   <td><a href="/images/">draw</a></td>
                   <td><a href="/blog">more</a></td>
               </tr>
            </tbody>
        </table>
        <div>
            🧀Writed with my Macbook pro.
        </div>
        <div>
            🥖Liking Devarrow’s songs, and Bear, so the site called Bear Devarrow.
        </div>
    </div>
</div>