  <nav class="header-wrap">
      <div class="header nu limiter no-print">
           <h2 style="line-height:1.6;font-size:1rem;margin:0 0 0.25em 0;">
              <a href="/">Bear Devarrow</a>
           </h2>
          <ul style="list-style:none;padding:0;margin:0;">
              <li>
                  <a href="/">Writing</a>
              </li>
              <li>
                   <a href="/read/">Reading</a>
              </li>
              <li>
                  <a href="/images/">Photos</a>
              </li>
              <li>
                  <a href="/blog">More</a>
              </li>
              <li>
                <a href="/box">Box</a>
            </li>
              <li>
                   <a href="/about">About</a>
              </li>
          </ul>
       </div>
  </nav>
